body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(116, 99, 1);
}

input, button {
    color: white;
    background-color: black;
}
.container{
    background-color: rgb(89, 89, 98);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3%;
    width: 50%;
    height: 35vh;
    padding-top: 5%;
    
}